@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    scroll-behavior: smooth;
    background-color: #272727;
}

header {
    width: 100vw;

}

section {
    min-height: 100dvh;
    padding-top: 60px;
}

.header-wrap {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    height: 60px;
}

/* 메뉴 */

nav ul {
    display: flex;
    align-items: center;
}

nav ul li a {
    position: relative;
    font-weight: 600;
    color: white;
    padding: 20px 30px;
    font-size: 1.1rem;
    transition: color 0.2s;
    text-decoration: none;
    display: inline-block;
}

nav ul li a::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#nav ul li a:hover::after {
    width: 70%;
}

#about-me {
    /* background-color: #272727; */
    color: #fff;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .about-me-title {
    margin-top: 30px;
} */

.skill {
    background-color: #fff;
}

.skill-container {
    height: 100dvh;
    text-align: center;
    background-color: #fff;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-wrap h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

.skill-icon {
    width: 50px;
    height: 50px;
    margin: 0.05rem;
    padding: 0.5rem;
    border: 2px solid #9b9b9b;
    border-radius: 15%;
}

.amore-chat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90dvh;
}

.amore-chat-wrap {
    width: 80vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.portfolio-flex{
    margin: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.portfolio-flex img {
    width: 50px;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
}
.portfolio-imgbox {
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.portfolio-imgbox img {
    max-width: 20vw;
    height: auto;
    display: block;
}

.footer-section {
    background: #666;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100vw;
    min-height: 120px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.footer-title {
    font-weight: 600;
    font-size: 1.05rem;
}

.footer-github {
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 20px;
}